.header-top {
  width: 100%;
  height: 90px;
  @include phone () {
    height: 72px;
  }
}
.nav-link {
  padding: 24px;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  max-height: 0px;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
}
.dropdown.active {
  max-height: 200px;
}

.dropdown li a {
  display: block;
  background: $light;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding: 16px 0;
  text-decoration: none;
}
.dropdown li a:hover {
  background: lighten(#2D2D2D, 10%);
}
h1 {
  font-size: 48px;
  line-height: 70px;
  background: linear-gradient(0deg, #62DB54, #09ACF5);
  background-clip: text;
  color: transparent;
  @include phone () {
    font-size: 24px;
    line-height: 35px;
  }
}
.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #62DB54, #09ACF5);
}
.banner {
  background-image: url(../images/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;
  @include pad () {
    background-image: url(../images/bg_home_mobile.jpg);
    background-size: contain;
  }
  @include phone () {
    height: 336px;
  }
}
.banner-content {
  padding: 50px 80px;
  width: 650px;
  margin:0 auto;
  background-color: $dark;
  border: 1px solid white;
  @include phone () {
    width: 400px;
    padding: 32px 48px;
  }
  h2 {
    font-size: 48px;
    line-height: 70px;
    @include phone () {
      font-size: 24px;
      line-height: 35px;
    }
  }
  p {
    padding-top: 24px;
    font-size: 18px;
    line-height: 26px;
    @include phone () {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.title {
  h3 {
    font-size: 28px;
    line-height: 40px;
    @include phone () {
      font-size: 24px;
      line-height: 35px;
    }
  }
  .title-bot {
    margin-top: 16px;
    background-color: $success;
    width: 50px;
    height: 4px;
  }
}
//feature
.feature {
  width: 100%;
  height: 424px;
  background-color: $light;
  @include pad {
    height: 500px;
  }
  @include phone () {
    height: 1030px;
  }
  >div {
    @include pad () {
      flex-direction: column;
    }
  }
}
.feature > div > .title {
  width: 28%;
  @include pad () {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.feature-list {
  width: 70%;
  gap: 24px;
  @include pad () {
    margin-top: 24px;
    width: 100%;
  }
  @include phone () {
    flex-direction: column;
    align-items: center;
  }
  div {
    width: 306px;
    height: 264px;
    padding: 48px 24px;
    text-align: center;
    &:hover {
      border: 1px solid $success;
      border-radius: 12px;
      background-color: #202020;
      span {
        background: linear-gradient(0deg, #62DB54, #09ACF5);
        background-clip: text;
        color: transparent;
      }
    }
    @include phone () {
      width: 336px;
      background-color: #202020;
      border-radius: 12px;
    }
  }
  span {
    font-size: 56px;
    @include phone () {
      background: linear-gradient(0deg, #62DB54, #09ACF5);
      background-clip: text;
      color: transparent;
    }
  }
  h4 {
    font-size: 18px;
    line-height: 26px;
    padding-top: 28px;
    padding-bottom: 24px;
    font-weight: bold;
    @include pad () {
      padding-bottom: 16px;
    }
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
}
/*process*/
.process {
  max-width: 100%;
  padding-bottom: 80px;
  .title {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}
.process-com {
  flex-wrap: wrap;
  gap: 50px 24px;
  @include phone () {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}
.process-card {
  width: 23%;
  padding-left: 40px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 12px;
  @include pad () {
    width: 46%;
  }
  @include phone () {
    width: 95%;
  }
  span {
    position: absolute;
    top: -28px;
    left: 48px;
    font-size: 48px;
    line-height: 56px;
    color: $success;
    background-color: $dark;
  }
  h5 {
    padding-top: 48px;
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 48px;
  }
}
//program

.program {
  background-color: $light;
  width: 100%;
  height: 338px;
  padding-top: 80px;
  padding-bottom: 80px;
  @include phone () {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 248px;
  }
}
.program-row {
  margin-top: 48px;
  @include phone () {
    margin-top: 24px;
  }
}
.promote {
  background-color: #000000;
  width: 100%;
  height: 805px;
  padding-top: 80px;
  @include pad () {
    height: 1300px;
  }
  @include phone () {
    height: 2041px;
  }
  .button {
    padding-bottom: 40px;
  }
  .button a {
    padding: 8px 32px;
    border-radius: 8px;
    background: linear-gradient(270deg, #62DB54, #09ACF5);
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
  }
}
.instructor {
  padding-top: 24px;
  padding-bottom: 24px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-bottom: 8px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}

.promote-com {
  width: 100%;
  flex-wrap: wrap;
  .promote-card {
    width: 23%;
    height: 451px;
    background-color: $light;
    border-radius: 24px;
    &:hover {
      border: 3px solid $success;
      box-sizing: content-box;
    }
    @include pad () {
      width: 47%;
      height: auto;
    }
    @include phone () {
      width: 95%;
      height: auto;
    }
    .card-bottom {
      display: flex;
      justify-content: center;
      span {
        font-size: 16px;
        line-height: 24px;
        padding-right: 8px;
        padding-top: 22px;
      }
      p {
        font-size: 32px;
        line-height: 37px;
        margin: 0;
        padding-top: 16px;
      }
    }
  }
}
.promoteText {
  padding-left: 24px;
  padding-right: 24px;
  @include phone () {
    padding-left: 32px;
    padding-right: 32px;
  }
  h5 {
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 0;
  }
  span {
    font-size: 16px;
    line-height: 24px;
    color: $success;
    padding-bottom: 8px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 32px;
    @include phone () {
      padding-bottom: 16px;
    }
  }
}
.white-line {
  width: 100%;
  height: 1px;
  background-color: #C1C1C1;
}

//special
.special {
  width: 100%;
  height: 615px;
  flex-wrap: wrap;
  .special-card {
    width: 25%;
    height: 100%;
    position: relative;
    z-index: 0;
    padding-left: 48px;
    padding-right: 48px;
  }
  .text {
    span {
      font-size: 28px;
      padding-bottom: 16px;
    }
    h5 {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      opacity: 50%;
    }
  }
}
.green-line {
  width: 70px;
  height: 3px;
  background-color: $success;
  margin-bottom: 32px;
}
.card-1:hover ,.card-2:hover ,.card-3:hover,.card-4:hover {
  .text {
    span {
      color: $success;
    }
    p {
      opacity: 100%;
    }
  }
}
.card-1:hover::before, .card-2:hover::before, .card-3:hover::before, .card-4:hover::before {
  opacity: 100%;
}
.card-1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/info01.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 15%;
}
.card-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/info02.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 15%;
}
.card-3::before  {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/info03.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 15%;
}
.card-4::before  {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/info04.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 15%;
}

.article {
  width: 100%;
  height: 651px;
  padding-bottom: 80px;
  @include phone {
    padding-bottom: 40px;
  }
  .title {
    padding-top: 80px;
    padding-bottom: 48px;
    @include phone () {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  
}
.article-com {
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;
  .article-card {
    width: 31%;
    height: 387px;
    padding: 32px;
    @include pad () {
      width: 100%;
      height: 410px;
    }
    @include phone () {
      padding: 0;
      height: 358px;
      padding-bottom: 24px;
    }
    img {
      width: 100%;
    }
    h5 {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
    a {
      font-family: Azeret Mono;
      color: $success;
      font-size: 18px;
      line-height: 21px;
      text-align: right;
      display: block;
    }
    &:hover {
      .borderCurve {
        display: block;
        @include pad () {
          display: none;
        }
      }
    }
  }
}
.borderCurve {
  width: 32px;
  height: 32px;
  display: none;
  &-topLeft {
    border-top: 1px solid #62DB54;
    border-left: 1px solid #62DB54;
    border-top-left-radius: 10px;
    top: 0;
    left: 0;
  }
  &-topRight {
    border-top: 1px solid #62DB54;
    border-right: 1px solid #62DB54;
    border-top-right-radius: 10px;
    top: 0;
    right: 0;
  }
  &-bottomLeft {
    border-bottom: 1px solid #62DB54;
    border-left: 1px solid #62DB54;
    border-bottom-left-radius: 10px;
    bottom: 0;
    left: 0;
  }
  &-bottomRight {
    border-bottom: 1px solid #62DB54;
    border-right: 1px solid #62DB54;
    border-bottom-right-radius: 10px;
    bottom: 0;
    right: 0;
  }
}