<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header>
      <div class=" header-top d-flex justify-content-between align-items-center container">
        <a href="#">
          <img class="d-none d-sm-block" width="175px" src="./assets/images/logo.svg" alt="LOGO for desktop">
          <img class="d-block d-sm-none" width="25px" src="./assets/images/logo2.svg" alt="LOGO for mobile">
        </a>
        <ul class="nav justify-content-between d-none d-sm-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <span class="material-icons me-1">
            account_circle
            </span>登入</a>
          </li>
        </ul>
        <a class="ham-icon d-block d-sm-none" href="#">
          <span class="material-icons">
            menu
          </span>
        </a>

      </div>
      <ul class="dropdown list-unstyled">
        <li><a href="#">首頁</a></li>
        <li><a href="#">課程介紹</a></li>
        <li><a href="#">
          <span class="material-icons me-1">
          account_circle
          </span>登入</a></a></li>
      </ul>
      
    </header>
    
    <%- contents %>

    <footer>
      <p>Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  </body>

</html>